@layer utilities {
  @media (prefers-reduced-motion: no-preference) {
    @keyframes appear {
      to {
        opacity: 1;
        translate: 0;
      }
    }

    .appear {
      transition:
        var(--long-transition) opacity,
        var(--long-transition) translate;

      animation: appear 1ms alternate both;
      animation-timeline: view();
      animation-range-start: 100px;
      animation-range-end: 400px;

      opacity: 0;
      translate: 0 100px;
    }
  }
}
