@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply text-p leading-p bg-background text-text accent-unic caret-unic flex min-h-full flex-col;
  }

  *::selection {
    background: oklch(from var(--color-unic) l c h / 0.2);
  }

  main {
    @apply flex-1 flex-shrink-0;
  }

  footer {
    @apply flex-none;
  }

  html {
    @apply scroll-smooth dark:text-white;
    scroll-padding: calc(var(--spacing-header) + 1vh);
    color-scheme: dark;
    scrollbar-gutter: stable;
  }

  /* Стили для скроллбара */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-unic) var(--color-black);
  }

  *::-webkit-scrollbar {
    @apply h-2 w-2.5;
  }

  *::-webkit-scrollbar-track {
    @apply bg-black;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-unic rounded-base;
  }

  button,
  input,
  fieldset,
  .no-select {
    @apply select-none;
  }

  :disabled,
  [aria-disabled='true'] {
    @apply cursor-not-allowed;
  }

  [aria-disabled='true'] {
    @apply pointer-events-none;
  }

  img {
    @apply object-contain;
  }

  svg {
    @apply inline-block h-full w-full;
  }

  path {
    @apply transition-[fill_300ms,stroke_300ms];
  }

  a.text-unic:active,
  button.text-unic:active {
    color: oklch(from var(--color-unic) l c h / 0.8);
  }

  iframe {
    @apply aspect-video h-auto w-full;
  }

  code {
    @apply select-all;
  }
}

.background {
  @apply rounded-base;
  background: var(--color-black-transparent);
}

.helper-box,
.helper {
  @apply text-white;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--color-info-border);
  @apply rounded-base;
  background: var(--color-info-bg);
  transition: var(--transition-short) color;
}

.helper-box:hover,
.helper:hover {
  color: var(--color-unic);
}

.helper-box:hover.danger,
.helper:hover.danger {
  color: var(--color-red);
}

.helper-box {
  @apply flex items-center justify-center;
}

.helper {
  @apply absolute right-4 top-4 grid place-items-center font-medium;
}
