@layer base {
  * {
    @apply box-border;
  }

  *::selection {
    background: oklch(from var(--color-unic) l c h / 0.2);
  }

  html {
    scroll-padding: calc(var(--spacing-header) + 1vh);
    color-scheme: dark;
    scrollbar-gutter: stable;
  }

  /* Стили для скроллбара */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-unic) var(--color-black);
  }

  *::-webkit-scrollbar {
    @apply h-2 w-2.5;
  }

  *::-webkit-scrollbar-track {
    @apply bg-black;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-unic rounded-base;
  }

  button,
  input,
  fieldset,
  .no-select {
    @apply select-none;
  }

  :disabled,
  [aria-disabled='true'] {
    @apply cursor-not-allowed;
  }

  [aria-disabled='true'] {
    @apply pointer-events-none;
  }

  img {
    @apply object-contain;
  }

  svg {
    @apply inline-block h-full w-full;
  }

  path {
    @apply transition-[fill_300ms,stroke_300ms];
  }

  a.text-unic:active,
  button.text-unic:active {
    color: oklch(from var(--color-unic) l c h / 0.8);
  }

  iframe {
    @apply aspect-video h-auto w-full;
  }

  code {
    @apply select-all;
  }
}