@use "mixins";

* {
  box-sizing: border-box;
}

// Подвал всегда внизу
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

// Весь сайт
html {
  // Скролл
  scroll-behavior: smooth;
  scroll-padding: calc(var(--header-size) + var(--indent-page)); // размер шапки

  // Цвет
  color-scheme: dark;

  // Скролл
  scrollbar-gutter: stable;
}

body {
  // Шрифт
  font-size: var(--p-size);
  line-height: var(--p-line-height);

  // Цвет
  background: var(--background-color);
  color: var(--text-color);

  accent-color: var(--unic-color);
  caret-color: var(--unic-color);

  & *::selection {
    background: rgba(var(--unic-color-rgb), 0.2);
  }
}

// Прокрутка
// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: var(--unic-color) var(--black-color);
}

// для Chrome/Edge/Safari
*::-webkit-scrollbar {
  height: 8px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--black-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--unic-color);
  border-radius: var(--border-radius);
}

// Убрать возможность выделения текста
button, input, fieldset, .no_select {
  @include mixins.no_select();
}

:disabled, [aria-disabled="true"] {
  cursor: not-allowed;
}

[aria-disabled="true"] {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

// Картинки
img {
  object-fit: contain;
}

svg {
  width: 100%;
  height: 100%;
  display: inline-block;
}

path {
  transition: var(--short-transition) fill, var(--short-transition) stroke;
}

// Отступ для ul и ol
:is(ul, ol):not(.not_indent) {
  margin-left: 30px;
}

// Нажатие
a.unic_color:active, button.unic_color:active {
  color: rgba(var(--unic-color-rgb), 0.8);
}

// Настройка отображения
.grid_center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

code, .all_select {
  // Safari
  -webkit-user-select: all;

  // Old versions of Firefox
  -moz-user-select: all;

  // Internet Explorer/Edge
  -ms-user-select: all;

  // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
  user-select: all;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

// Убирание маркера
.remove_marker {
  list-style-type: none;
}

.user_icon {
  border-radius: 50%;
  object-fit: cover;

  &:hover {
    border-radius: 25%;
  }
}

.mostiki {
  display: inline;
  width: 1em;
  height: 0.85em;
}

.border {
  @include mixins.border();
}

.background {
  @include mixins.background();
}

.right-text {
  text-align: right;
}

.pixel {
  image-rendering: pixelated;
}

.marginAuto {
  margin: auto;
}

.border-radius {
  border-radius: var(--border-radius) !important;
}

// Помогатор
.helper_button, .helper {
  color: white;

  width: 1.5em;
  height: 1.5em;

  @include mixins.border($background: var(--info-bg-color), $color: var(--info-border-color));

  transition: var(--short-transition) color;
}

.helper_button:hover, .helper:hover {
  color: var(--unic-color);
}

.helper {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: grid;
  place-items: center;

  font-weight: 500;
}

// Адаптивность
@media (width >= 1024px) {
  .for_mobile {
    display: none !important;
  }
}

@media (width < 1200px) {
  .for_tablet {
    display: none !important;
  }
}

@media (width < 1024px) {
  .for_pc {
    display: none !important;
  }
}