@mixin border(
  $color: var(--border-color),
  $radius: var(--border-radius),
  $width: 1px,
  $background: var(--black-color-transparent),
  $hover: false
) {
  & {
    border: $color $width solid;
    border-radius: $radius;
    background: $background;

    @if $hover {
      transition: border-color var(--long-transition);

      &:hover {
        border-color: var(--unic-color);
      }
    }
  }
}
