.success_box, .error_box {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.successSvg, .errorSvg {
  display: inline-block;
}

.successSvg {
  width: 1.5em;
  height: 1.5em;
}

.errorSvg {
  width: 1.2em;
  height: 1.2em;
}

.loading_svg {
  margin: auto;

  .block {
    fill: currentColor;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .block-1 {
    animation-name: moveBlock1;
  }

  .block-2 {
    animation-name: moveBlock2;
  }
}

@keyframes moveBlock1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(12px, 0);
  }
  50% {
    transform: translate(12px, 12px);
  }
  75% {
    transform: translate(0, 12px);
  }
}

@keyframes moveBlock2 {
  0%, 100% {
    transform: translate(12px, 12px);
  }
  25% {
    transform: translate(0, 12px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(12px, 0);
  }
}