// Шрифты
h1, h2, h3 {
  word-break: break-word;
}

h1 {
  text-align: center;
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  color: var(--unic-color);
  width: 100%;
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}

h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}

h4 {
  font-weight: 400;
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
}

small {
  font-size: calc(var(--p-size) - 15%);
  line-height: calc(var(--p-line-height) - 15%);
}

// Красная строка
.red_line::first-letter {
  margin: 9px 0 9px 30px;
}

// Цвета
.unic_color {
  color: var(--unic-color) !important;
}

.green_color {
  color: var(--green-color) !important;
}

.red_color {
  color: var(--red-color) !important;
}

// Настройки текстов
.center_text {
  text-align: center;
}

.medium-font {
  font-weight: 500 !important;
}

.semibold-font {
  font-weight: 600 !important;
}

.bold-font {
  font-weight: 700 !important;
}

.extrabold-font {
  font-weight: 800 !important;
}
