.urls, .url {
  display: flex;
  align-items: center;
}

.urls {
  min-width: 180px;
  justify-content: space-between;
}

.url {
  aspect-ratio: 1 / 1;
  display: inline-flex;
  justify-content: center;

  @mixin color($color) {
    .transparent {
      color: var(--background-color);
    }

    .color {
      color: var(--text-color);
    }

    &.color, &:where(:hover, :active) {
      .color {
        color: $color;
      }

      .transparent {
        color: var(--text-color);
      }
    }
  }

  * {
    transition: color var(--short-transition);
  }

  &.tg {
    transform: scale(0.74) translateY(-1px);

    @include color(var(--tg-color));
  }

  &.ds {
    @include color(var(--ds-color));
  }

  &.boosty {
    @include color(var(--boosty-color));
  }

  &.vk {
    transform: scale(1.2) translateY(-1.5px);

    @include color(var(--vk-color));
  }

  &.support {
    transform: scale(0.74) translateY(1.5px);

    @include color(var(--unic-color));
  }

  &.yt {
    @include color(var(--yt-color));
  }

  &.twitch {
    @include color(var(--twitch-color));
  }

  &.donation_alerts {
    @include color(var(--donation-alerts-color));
  }
}

.sbp {
  color: var(--unic-color);
  opacity: 0.7;
  transition: opacity var(--long-transition);

  &:hover:not(:active) {
    opacity: 0.9;
  }
}