@mixin box($color, $radius, $opacity) {
	filter: drop-shadow(0 0 $radius rgba($color, $opacity));
}

.common {
	@include box(var(--common-color), 10px, 0.4);
}

.rare {
	@include box(var(--rare-color), 15px, 0.5);
}

.legendary {
	@include box(var(--legendary-color), 17px, 0.5);
}

.case_info {
	display: grid;
	gap: 4rem;

	h2 {
		margin-bottom: 2rem;
	}
}

// Планшет+
@media (width > 728px) {
	.case_info {
		grid-template-columns: repeat(2, 1fr);

		.rarity {
			text-align: left;
		}

		.drop {
			text-align: right;
		}
	}
}