// Подвал
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  // Отображение
  background: var(--black-color);

  // Размеры
  min-height: 350px;
}

.box {
  // Расположение
  display: flex;
  flex-direction: column;
  align-items: center;

  width: min(900px, 100%);
  padding: calc(var(--indent-page) / 2);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0 1rem;
  flex-wrap: wrap;
  margin-block: 1rem;

  & > * {
    flex: 0;
    flex-basis: fit-content;
  }
}