@import "@styles/mixins";

.form {
  // flex-wrap: wrap;
  display: grid;
  place-content: center;
  gap: 8px;

  margin-block: 20px;
  padding: 5px;
}

.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  & > * {
    flex: 1;
  }
}

.label:has(.input[type="radio"]),
.label .input:not([type="radio"]),
.label .textarea,
.select,
.button {
  --_color: var(--unic-color);

  &.danger {
    --_color: var(--red-color);
  }

  // Отступы
  padding: 0.6rem 1.2rem;

  // Отображение
  @include border($background: var(--gray-color), $radius: 12px);

  transition:
          border-color var(--long-transition),
          color var(--short-transition);

  &:disabled, &[aria-disabled="true"] {
    color: var(--light-gray-color);
  }

  &:not(:disabled):not([aria-disabled="true"]) {
    &:active, &:focus-visible, &:hover {
      border-color: var(--_color);
    }
  }

  &:not(.select) {
    &:has(:checked) {
      border-color: var(--_color);
    }
  }
}

.input:not([type="checkbox"]), .textarea {
  min-width: 100%;
}

.input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
}

.textarea {
  min-width: 250px;
  max-width: 500px;
  min-height: 150px;
  max-height: 450px;
}

.button {
  padding: 1rem 3rem;
  transition: var(--short-transition) border-color, var(--short-transition) color;

  color: var(--_color);

  &:disabled, &[aria-disabled="true"] {
    color: var(--light-gray-color);
  }
}

.select {
  appearance: none;
}

.edit, .add {
  width: max(0.55em, 0.9rem);
  height: 1em;
  top: 0;
  font-weight: 500;
  transition: color var(--short-transition);

  &:hover, &:active {
    color: var(--unic-color);
  }
}

.label:has(.input[type="radio"]), .label:has(.input[type="checkbox"]) {
  display: flex;
  gap: 0.8em;
  align-items: center;

  .input[type="radio"] {
    display: none;
  }
}

@media (width < 550px) {
  .textarea {
    resize: vertical;
  }
}