@use "@styles/mixins";

.container {
	position: sticky;
	top: 0;

	display: grid;
	place-content: center;

	margin-bottom: 1.5rem;
	min-height: var(--header-size);

	@include mixins.background();

	z-index: var(--3z);
}

.box {
	display: grid;
	justify-content: center;
	align-items: center;

	@media (width > 530px) {
		grid-template-columns: 1fr 5fr 1fr;
	}
}

.h1 {
	margin: 0;
}

.nav_arrow {
	color: var(--light-gray-color);
}

@media (width <= 530px) {
	.top, .reload {
		display: none !important;
	}
}