@import "@styles/mixins";

.container {
	position: sticky;
	top: 0;

	padding: 0.8rem;
	margin-bottom: 1.5rem;

	@include background();

	z-index: var(--3z);
}

.box {
	display: grid;
	justify-content: center;
	align-items: center;

	@media (width > 700px) {
		grid-template-columns: 1fr 450px 1fr;
	}
}

.h1 {
	margin: 0;
}

.nav_arrow {
	color: var(--light-gray-color);
}

@media (width <= 700px) {
	.top, .reload {
		display: none !important;
	}
}