.max_size {
	position: relative;
	max-width: min(var(--max-width), 100%);
	padding: var(--indent-page);
	margin: 0 auto;
}

.sideNav {
	display: grid;

	@media (width >= 1024px) {
		grid-template-columns: 2fr 6fr 2fr;
		gap: 1.5rem;
	}
}