.number, .simple_number {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  .rightM {
    margin-right: 15px; // Расстояние от текста до цифры
  }
  overflow: hidden;

  & > * {
    position: absolute;
    transition: rotate 750ms, translate 750ms, opacity 800ms;

    width: 100%;
    height: 100%;
  }
}

.box {
  // Размеры
  width: 2rem;
  aspect-ratio: 1 / 1;

  // Задний фон
  border-radius: 10px;
  background: rgba(63, 63, 70, .5);

  --_side: 1;

  .link {
    translate: -105%;
  }

  :hover > & {
    .text {
      transition-delay: var(--short-transition);
    }

    .link {
      translate: 0;
      transition-delay: 0ms;
    }

    .text {
      translate: 105%;
    }

    .text, .link {
      rotate: 145deg;
    }
  }
}

.empty {
  // Размеры
  width: 1.8em;
  aspect-ratio: 1 / 1;

  .link {
    translate: 105% -10%;
    rotate: -45deg;
    opacity: 0;
  }

  :hover > & {
    .link {
      translate: 0 -10%;
      transition-delay: 0ms;
    }

    .text {
      translate: -105%;
      opacity: 0;
    }

    .link {
      rotate: 145deg;
      opacity: 1;
    }
  }
}

.link {
  scale: 0.75;

  &:active path {
    stroke: var(--unic-color);
  }
}