@use "@styles/mixins";

@keyframes appearance {
	0% {
		translate: 0 -50%;
		opacity: 0;
	}
	55% {
		opacity: 0.5;
	}
	100% {
		translate: 0 -100%;
		opacity: 1;
	}
}

@media (width < 1024px) {
	.container {
		position: fixed;
		bottom: 0;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		height: calc(var(--header-size) / 1.5);

		padding-block: 1.5rem;

		@include mixins.background();

		z-index: var(--2z);
	}

	.box {
		position: absolute;
		inset: 0;

		translate: 0 -100%;

		display: none;
		place-content: center;
		gap: clamp(0.1rem, 5svh, 1.5rem);

		overflow-y: auto;

		width: 100%;
		height: min-content;
		padding: 1rem;

		background: var(--background-color-transparent);

		animation: appearance var(--long-transition);
	}

	.item {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
	}

	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.burger_active .box {
		display: grid;
	}
}