@import "@styles/mixins";

table {
	position: relative;
	border-collapse: separate;
	border-spacing: 0 1.5rem;
	width: 100%;
}

caption:not(:has(h1)) {
	margin-block: 0.67em;
}

thead {
	@include background();
}

th {
	padding: 1rem 1.5rem;
}

tr {
	&:nth-child(even) {
		background-color: var(--black-color-transparent);
	}
}

td {
	padding: 1rem 0.5rem;
	text-wrap: balance;

	&:first-child {
		border-radius: 15px 0 0 15px;
	}

	&:last-child {
		border-radius: 0 15px 15px 0;
	}
}

.func_buttons {
	display: flex;
	place-content: center;
	gap: 10px;
}

@media (width >= 900px) {
	thead {
		position: sticky;
		top: var(--header-size);
	}
}

@media (width < 900px) {
	.table_container {
		overflow-x: auto;
	}
}