// Ссылки
.url {
	// Расположение
	display: inline-flex;
	align-items: center;
	gap: 6px;

	padding-inline: 8px 10px;

	// Отображение
	border-radius: 5px;
	font-weight: 500;

	color: var(--_color);
	border: solid var(--_color) 1px;

	@media (width < 1024px) {
		padding: 0 10px;
		margin: 0 5px 4px;
		gap: 30px;
	}
}

.discord {
	--_color: var(--ds-color);
}

.t {
	--_color: var(--tg-color);
}

.twitch {
	--_color: var(--twitch-color);
}