// Модификации
.list_container {
	margin-top: 25px;
}

.list_text {
	background: var(--background-color-transparent);
	padding-block: 30px;
	backdrop-filter: blur(1px);
}

.list {
	a {
		color: var(--unic-color);
	}

	.item::marker {
		color: var(--light-gray-color);
	}
}