@import "@styles/mixins";

.tldr {
	margin-block: 1.5em;
	padding: 1.5em 3.5em;
	width: fit-content;
}

// Правила
// Контейнер
.container {
	margin-block: 1.2em; // Расстояние между текстом правил
}

// Заголовок правил
.heading {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-bottom: 1.2rem; // Расстояние между главным текстом и открывающимся текстом
}

// Правила
.box {
	padding-left: 5px;
}

.rule {
	position: relative;
	display: grid;

	&:has(.number) {
		grid-template-columns: 24px auto;
	}

	gap: 1rem;
	margin-block: 1.2rem;
}

// Цифры
.number {
	transition: var(--long-transition) transform;
	height: fit-content;
}

.rule:hover .number {
	// Замена цифры на ссылку
	color: transparent;

	background-image: url("/link.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	transform: rotate(-45deg);

	&:active {
		background-image: url("/active_link.svg");
	}
}

// Цифра
.number_box {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	// Размеры
	width: 30px;
	height: 30px;

	// Задний фон
	border-radius: 10px;
	background: rgba(63, 63, 70, .5);

	margin-right: 15px; // Расстояние от текста до цифры
	overflow: hidden;

	& > * {
		position: absolute;
		transition: rotate 750ms, translate 750ms;

		width: 100%;
		height: 100%;
	}
}

// Ссылка
.link {
	translate: -105%;

	transition-delay: var(--short-transition);

	scale: 0.75;

	&:active path {
		stroke: var(--unic-color);
	}
}

.punishment {
	opacity: 0;

	text-align: right;
	color: var(--light-gray-color);

	transition: opacity var(--short-transition);
}

.rule_text > .punishment {
	position: absolute;
	right: 0;
	bottom: 1px;
}

.rule:hover .punishment {
	opacity: 1;
}

// Анимации
.heading:hover {
	.main_number {
		rotate: 145deg;
		translate: 105%;
		transition-delay: var(--short-transition);
	}

	.link {
		rotate: 145deg;
		translate: 0;
		transition-delay: 0ms;
	}
}

// Картинки
.img_box {
	width: 40%;
}