@use "@styles/mixins";

.starslider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 2rem;
    margin-bottom: 2rem;
    
    @include mixins.border($background: var(--gray-color));
}

.range {
    width: min(100%, 40rem);


    &.notenough {
        accent-color: var(--red-color);
    }

    &.enough {
        accent-color: var(--unic-color);
    }
}

.values {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    justify-content: space-between;

    width: min(100%, 40rem);
}

.value {
    transition: color var(--short-transition), font-size var(--short-transition);
    font-weight: 400;
    font-size: 1em;
}

.selected {
    font-weight: 700;
    font-size: 1.3em;

    &.notenough {
        color: var(--red-color);
    }

    &.enough {
        color: var(--unic-color);
    }
}

.userplate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.starsinfo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}