@import "@styles/mixins";

// Form
.form_box {
	@include border();
	padding: 1.5rem;
}

// Информация о пользователе
.profile {
	display: grid;
	place-content: center;
	gap: 100px;
}

.container {
	display: grid;
	place-content: center;
	gap: 50px;

	& > * {
		margin: auto;
	}
}

.text {
	display: grid;
	gap: 10px;
	font-weight: 500;
}

.roles {
	display: flex;
	gap: 0.2rem 1rem;
	flex-wrap: wrap;
}


.from {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

// Белый список
@media (width > 728px) {
	.container {
		grid-template-columns: 1fr 2fr;
	}
}