// Бургер меню
.icon {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-evenly;

	// Иконка
	width: 38px;
	height: 38px;
}

.stick {
	width: 100%;
	height: 5px;
	background: var(--unic-color);
	border-radius: var(--border-radius);

	transition: 400ms translate, 250ms opacity, 400ms rotate, width 250ms;
}

.short {
	width: 75%;
}

// Анимация
.active {
	.short {
		width: 100%;
	}

	.stick:nth-child(1) {
		translate: 0 11px;
		rotate: 45deg;
	}

	.stick:nth-child(2) {
		opacity: 0;
	}

	.stick:nth-child(3) {
		translate: 0 -11px;
		rotate: -45deg;
	}
}