body:has(.modal.active) {
  overflow: hidden;
}

.modal {
  // Расположение
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  // Максимальные размеры
  width: 100%;
  height: auto;

  // Анимация появления
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--long-transition),
  backdrop-filter var(--long-transition),
  background var(--long-transition);

  .modal_text {
    position: relative;

    // Размеры
    min-width: min(70%, 500px);
    min-height: min(70%, 300px);

    // Расположение
    padding: 40px 50px 20px;

    // Отображение
    background: var(--background-color);
    z-index: var(--4z);

    // Анимация
    scale: 0.5;
    transition: scale var(--long-transition);
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color-transparent);
    backdrop-filter: blur(8px);
    z-index: var(--3z);

    .modal_text {
      scale: 1;
    }
  }

  .close_modal {
    position: absolute;
    top: 0.3rem;
    right: 0.8rem;

    color: var(--unic-color);

    padding: 0.8rem;

    border-radius: var(--border-radius);
  }
}