.side_nav_container {
  & > .side_nav_box {
    position: sticky;
    top: calc(var(--header-size) * 1.4);
    width: fit-content;
  }

  .side_nav_item {
    margin-block: 0.45rem;

    border-radius: var(--button-border-radius);

    // Анимация
    transition: background var(--long-transition);

    & > * {
      display: flex;

      padding: 5px 20px;

      border-radius: var(--border-radius);
    }

    &:has(a):hover {
      background-color: rgba(78, 78, 78, 0.3);
    }

    // Выделяет последний элемент с классом .active
    a {
      color: var(--text-color);
      transition: color var(--short-transition);
    }

    &:nth-last-child(1 of :has(a.active)) a {
      color: var(--unic-color);
    }
  }
}