@keyframes subsections_appearance {
  0% {
    translate: 0 -50%;
    opacity: 0;
  }
  55% {
    opacity: 0.5;
  }
  100% {
    translate: 0 -100%;
    opacity: 1;
  }
}

@media (width < 1024px) {
  .subsections_container {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(var(--header-size) / 1.5);

    padding-block: 1.5rem;

    background: var(--background-color-transparent);
    backdrop-filter: blur(8px);
    z-index: var(--2z);

    .subsections_box {
      position: absolute;
      inset: 0;

      translate: 0 -100%;

      display: none;
      place-content: center;
      gap: clamp(0.1rem, 5svh, 1.5rem);

      overflow-y: auto;

      width: 100%;
      height: min-content;
      padding: 1rem;

      font-size: var(--h2-size);
      line-height: var(--h2-line-height);

      background: var(--background-color-transparent);

      animation: subsections_appearance var(--long-transition);
    }

    .subsection_item {
      font-size: var(--h2-size);
      line-height: var(--h2-line-height);
    }

    .burger_subsections {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &.burger_active {
      .subsections_box {
        display: grid;
      }
    }
  }
}