.book {
  --_block-gap: 20px;
  --_inline-gap: 45px;

  color: var(--light-gray-color);

  margin-block: var(--_block-gap);
}

.page {
  padding: var(--_block-gap) var(--_inline-gap);
}

.day {
  color: var(--unic-color);
}

.number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.blur {
  filter: blur(7px);
}