.users {
  .user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 20px 0;
  }

  .you {
    .name_box {
      color: var(--unic-color);
    }

    .user_icon {
      border: solid 2px var(--unic-color);
    }
  }

  @media (width < 1024px) {
    .user {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
}