.section {
  margin-top: 75px;
}

.h1 {
  width: min(1020px, 100%);
  height: 150px;
  margin-inline: auto;
  color: var(--text-color);
}

.for_smaller {
  display: none;
}

@media (width < 370px) {
  .for_smaller {
    display: block;
  }
  .for_bigger {
    display: none;
  }
}