@import "@styles/mixins";

.registration_section {
  // Регистрация
  display: grid;
  place-items: center;

  padding-block: var(--indent-page);
}

.registration {
  display: grid;
  width: min(910px, 90%);
}

.registration_text {
  display: grid;
  gap: 2rem;
}

@media (width > 1024px) {
  .registration {
    padding: 50px var(--indent-page) 10px;
    @include border();
  }
}