@use "@styles/mixins";

.section {
  // Ютуб
  display: grid;
  place-items: center;
  gap: 3rem;
  margin-block: 60px;

  max-width: min(700px, 100%);
  margin-inline: auto;
}

.text {
  display: grid;
  gap: 1rem;
}

.yt_link {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mixins.border();
}