@use "@styles/mixins";

.img {
	transition: 1000ms rotate !important;
}

.box:hover .img {
	rotate: var(--_rotate);
}

.vote_box {
	display: flex;
	place-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}