.content {
	display: grid;
	gap: 40px;
}

.purchases {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	position: relative;
	background: var(--gray-color);
	overflow: hidden;
}

.selected {
	position: absolute;
	bottom: 0.6rem;
	right: 1.4rem;
}

.actions {
	position: absolute;
	bottom: 0.6rem;
	left: 1.4rem;

	display: flex;
	gap: 0.3rem;
	justify-content: center;
	align-items: center;
}

.helper {
	top: 0.65rem;
	right: 1.35rem;
}