.content {
	display: grid;
	gap: 40px;
}

.purchases {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	position: relative;
	background: var(--gray-color);
	overflow: hidden;
}

.selected {
	position: absolute;
	bottom: 0.6rem;
	right: 1.4rem;
}

.actions {
	position: absolute;
	top: 1rem;
	left: 0.6rem;
}