.content {
	display: grid;
	gap: 40px;
}

.purchases {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	position: relative;
	background: var(--gray-color);
	overflow: hidden;
}

.selected {
	position: absolute;
	bottom: 0.6rem;
	right: 1.4rem;
}

.cases {
	position: absolute;
	top: 0.6rem;
	right: 1.4rem;

	display: flex;
	gap: 0.3rem;
	justify-content: center;
	align-items: center;
}

.case_text {
	position: absolute;
	bottom: -0.2em;
	right: 0.1em;
}

.drops {
	position: absolute;
	bottom: 0.6rem;
	left: 1.4rem;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;

	transition: opacity var(--short-transition);
}

.item:hover {
	.drops {
		opacity: 1;
	}
}

.actions {
	position: absolute;
	top: 0.6rem;
	left: 1.4rem;

	display: flex;
	gap: 0.3rem;
	justify-content: center;
	align-items: center;
}

.description {
	margin-top: 0.5rem;
}