@use "@styles/mixins";

.progress_box {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 8rem;
}

.progress {
  display: flex;
  flex-direction: column;

  height: 4rem;
  width: 100%;
}

.rating_box {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50%;

  width: fit-content;
  padding: 0.1rem 2rem;

  @include mixins.border();
}

.triangle {
  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50%;

  z-index: var(--1z);
  color: var(--black-color-transparent);
}

.line {
  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50% -1em;

  width: 0.1em;
  height: 2rem;
  background: var(--border-color);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
}