@use "@styles/mixins";
@use "sass:math";

.milky_way {
  background: var(--black-color);
}

.container {
  padding-top: var(--_y);
}

.box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: var(--_x);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--_size);
  height: var(--_size);

  z-index: var(--1z);

  @include mixins.border($background: var(--light-gray-color));

  .unic & {
    background: var(--text-color);
  }
}

.rating {
  position: absolute;
  top: 110%;
  left: 50%;
  translate: -50%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  filter: drop-shadow(0 0 15px var(--yellow-color));
}

.line {
  position: absolute;

  width: var(--_long);
  height: 2px;
  background: var(--light-gray-color);

  transform: rotate(var(--_angle)) translate(50%);

  .unic & {
    height: 3px;
    background: var(--text-color);
  }
}

.gradient_gray_black {
  height: 7rem;
  background: linear-gradient(to bottom, var(--background-color), var(--black-color));
}

.item {
  aspect-ratio: 1 / 1;
  object-position: center;
}
